body{
    background-color: rgb(4, 4, 65);
    text-align: center;

}
.red{
    border: yellow;
    color: white;
}
.no{
    color: white;
    background-color: yellow;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}