.main{
    width: 1000px;
    height: 900;
   display: flex;
   /* justify-content: start; */
   /* justify-content: end; */
   /* justify-content: space-around; */
   /* justify-content: space-between; */
   justify-content: space-evenly;
   /* align-items: center; */
   flex-wrap: wrap;
   gap: 50px;
   
   
}
.box{
    width: 200px;
    height: 200px;
    background-color: plum;
    display: flex;
    flex-wrap: wrap;
    
    gap: 8px;
}
.boxcha{
    width: 50px;
    height: 50px;
    background-color: orange;
    display: flex;
    gap: 17px;
}
